extends layout

block content
 .col_12
  .col_9
   if isLoggedIn
    h2=title
    p=medias
   else
    p Please login to view feed
  .col_3
   if isLoggedIn
    h5 Welcome #{user.full_name} (#{user.username})
    ul.info
     li
      div.redbox
       h5 Posts
       h4 #{user.counts.media}
     li.bluebox
      h5 Followers
      h4 #{user.counts.followed_by}
     li.greenbox
      h5 Following
      h4 #{user.counts.follows}
